
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>Place Order</h1>

	</section>


	<!-- Main content -->
	<section class="content">

		<!-- /.row -->
		<!-- Main row -->
		<div class="row justify-content-center">
			<!-- Left col -->

			<section class="col-12">


				<!-- quick email widget -->
				<div class="box box-info">

					<div class="progress quote-progress">
						<div class="progress-bar bg-primary" id="progression"
							role="progressbar" style="width: 25%" aria-valuenow="25"
							aria-valuemin="0" aria-valuemax="100"></div>
					</div>

					
					<div class="box-body">
						<h5>
							<b>Congratulation and thank you for your trust</b>
						</h5>
						<img src="/assets/img/Congratulations.jpg" alt="congrat">
						<p>You have been successfully order news projects.</p>
						<p>A email has been sent to you. In this mail you will find
							the invoice of your order.</p>
						<p>the next step is to upload the requirement documents for
							each project.</p>
						<p>
							For that, go to the <b><em>Projects>News projects</em></b> tab in
							the menu on the left.
						</p>
						<p>
							Your invoice is also accessible from the tab <b><em>Invoice</em></b>.
						</p>
						<p>Note that our lead time begins upon receipt of the required
							documents and the payment of an advance according to the term of
							the contract</p>
						<p>Canceling this quotation will result in fees to be paid.
						<p>
					</div>
				</div>
			</section>

		</div>
		<!-- /.row (main row) -->

	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->