<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Quotation <small>Get Quote - Project features</small>

    </h1>
    <ol class="breadcrumb">
      <li><a href="index.html"><i class="fa fa-dashboard"></i>
        Home</a></li>
      <li><a href="#">Quotation</a></li>
      <li class="active"><a href="#">Get Quote - Submission contries</a></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- /.row -->
    <!-- Main row -->
    <div class="row justify-content-center">
      <!-- Left col -->
      <section class="col">

        <!-- quick email widget -->
        <div class="box box-info">
          <div class="progress quote-progress">
            <div class="progress-bar bg-primary" role="progressbar"
                 style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                 aria-valuemax="100"></div>
          </div>
          <div class="box-header">
            <i class="fa fa-calculator"></i>

            <h3 class="box-title">Get quote - Submission contriess</h3>

          </div>
          <div class="box-body">

            <form action="#" method="post">


              <!-- /equipement category -->


              <!-- countries -->


              <div class="form-group">

                <label class="title">Countries</label>
                <div class="row">
                  <div class=" col-md-3 col-sm-4">
                    <input type="checkbox" id="Algeria"> <label
                    for="Algeria">Algeria</label>
                  </div>

                  <div class="col-md-3  col-sm-4">
                    <input type="checkbox" id="Angola"> <label
                    for="Angola">Angola</label>
                  </div>

                  <div class="col-md-3  col-sm-4 ">
                    <input type="checkbox" id="Benin"> <label
                    for="Benin">Benin</label>
                  </div>
                  <div class="col-md-3  col-sm-4">
                    <input type="checkbox" id="Botswana"> <label
                    for="Botswana" onClick="showCategorie()" class="">Botswana
                  </label> <br> <label id="lblCat" class="primary-text"></label>
                  </div>



                  <div id="collap" class="collap  col-sm-12"
                       style="display: none;" id="collapseExample">
                    <div class="card" style="margin-bottom: 10px;">
                      <div class="card-body">
                        <div class="form-group radio-pink-gap ">
                          <input name="group103" type="radio" class="with-gap"
                                 id="radio109"> <label for="radio109"
                                                       class="btn-botswana">Categorie 1</label>

                          <ul class="categorie-items">
                            <li>Equipement a</li>
                            <li>Equipement b</li>
                            <li>Equipement c</li>
                            <li>Equipement d</li>
                            <li>Equipement e</li>
                            <li>Equipement f</li>
                            <li>Equipement g</li>
                            <li>Equipement h</li>
                            <li>Equipement i</li>
                            <li>Equipement j</li>
                            <li>Equipement k</li>
                            <li>Equipement l</li>
                            <li>Equipement m</li>
                            <li>Equipement n</li>
                            <li>Equipement o</li>
                            <li>Equipement p</li>
                            <li>Equipement q</li>
                            <li>Equipement r</li>
                            <li>Equipement s</li>
                            <li>Equipement t</li>
                            <li>Equipement u</li>
                            <li>Equipement v</li>

                          </ul>
                        </div>

                        <div class="form-group radio-pink-gap">
                          <input name="group103" type="radio" class="with-gap"
                                 id="radio110"> <label class="btn-botswana"
                                                       for="radio110">Categorie 2</label>
                          <ul class=" categorie-items">
                            <li>Equipement a</li>
                            <li>Equipement b</li>
                            <li>Equipement c</li>
                            <li>Equipement d</li>
                            <li>Equipement e</li>
                            <li>Equipement f</li>
                            <li>Equipement g</li>
                            <li>Equipement h</li>
                            <li>Equipement i</li>
                            <li>Equipement j</li>
                            <li>Equipement k</li>
                            <li>Equipement l</li>
                            <li>Equipement m</li>
                            <li>Equipement n</li>
                            <li>Equipement o</li>
                            <li>Equipement p</li>
                            <li>Equipement q</li>
                            <li>Equipement r</li>
                            <li>Equipement s</li>
                            <li>Equipement t</li>
                            <li>Equipement u</li>
                            <li>Equipement v</li>

                          </ul>
                        </div>

                        <div class="form-group radio-pink-gap">
                          <input name="group103" type="radio" class="with-gap"
                                 id="radio111"> <label class="btn-botswana"
                                                       for="radio111">Categorie 3</label>
                          <ul class=" categorie-items">
                            <li>Equipement a</li>
                            <li>Equipement b</li>
                            <li>Equipement c</li>
                            <li>Equipement d</li>
                            <li>Equipement e</li>
                            <li>Equipement f</li>
                            <li>Equipement g</li>
                            <li>Equipement h</li>
                            <li>Equipement i</li>
                            <li>Equipement j</li>
                            <li>Equipement k</li>
                            <li>Equipement l</li>
                            <li>Equipement m</li>
                            <li>Equipement n</li>
                            <li>Equipement o</li>
                            <li>Equipement p</li>
                            <li>Equipement q</li>
                            <li>Equipement r</li>
                            <li>Equipement s</li>
                            <li>Equipement t</li>
                            <li>Equipement u</li>
                            <li>Equipement v</li>

                          </ul>
                        </div>
                        <div class="form-group radio-pink-gap">
                          <input name="group103" type="radio" class="with-gap"
                                 id="radioOthers"> <label for="radioOthers">Others</label>

                        </div>
                      </div>
                    </div>
                  </div>





                  <div class=" col-md-3  col-sm-4">
                    <input type="checkbox" id="Burkina"> <label
                    for="Burkina">Burkina Faso</label>
                  </div>

                  <div class=" col-md-3  col-sm-4">
                    <input type="checkbox" id="Burundi"> <label
                    for="Burundi">Burundi</label>
                  </div>

                  <div class=" col-md-3  col-sm-4">
                    <input type="checkbox" id="Cameroon"> <label
                    for="Cameroon">Cameroon</label>
                  </div>
                  <div class=" col-md-3  col-sm-4">
                    <input type="checkbox" id="Verde"> <label
                    for="Verde">Cap Verde</label>
                  </div>
                  <div class=" col-md-3  col-sm-4">
                    <input type="checkbox" id="Republic"> <label
                    for="Republic">Central African Republic</label>
                  </div>

                  <div class=" col-md-3  col-sm-4">
                    <input type="checkbox" id="Coast"> <label
                    for="Coast">Ivory Coast</label>
                  </div>
                  <div class=" col-md-3  col-sm-4">
                    <input type="checkbox" id="Egypt"> <label
                    for="Egypt">Egypt</label>
                  </div>
                  <div class=" col-md-3  col-sm-4">
                    <input type="checkbox" id="Gabon"> <label
                    for="Gabon">Gabon</label>
                  </div>
                  <div class=" col-md-3  col-sm-4">
                    <input type="checkbox" id="Conakry"> <label
                    for="Conakry">Guinea Conakry</label>
                  </div>


                </div>
              </div>


              <hr>

            </form>
          </div>
          <div class="box-footer clearfix">
            <a href="getQuote-Step3.html" type="button"
               class="pull-right btn btn-default">Next step <i
              class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>

      </section>
      <!-- /.Left col -->
      <!-- right col (We are only adding the ID to make the widgets sortable)-->

      <!-- right col -->
    </div>
    <!-- /.row (main row) -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

