<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>Get Quote</h1>
	</section>


	<!-- Main content -->
	<section class="content">

		<!-- /.row -->
		<!-- Main row -->
		<div class="row justify-content-center">
			<!-- Left col -->

			<section class="col-12">


				<!-- quick email widget -->
				<div class="box box-info">

					<!--	<div class="progress progress-sm quote-progress">
						<div class="progress-bar bg-primary" id="progression" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
						 aria-valuemax="100"></div>
					</div>-->

					<div class="box-body">

						<div class="table-wrapper-2">

							<table class="table text-center  table-striped w-auto">
								<!--Table head-->
								<thead class="blue-grey lighten-4">
									<tr>

										<th>Country</th>
										<th>Agency</th>
										<th>Price (USD)</th>

									</tr>
								</thead>
								<!--Table head-->

								<!--Table body-->
								<tbody>
									<tr *ngFor="let c of listCategories; let i = index">

										<td>{{c.agency.country.name}}</td>
										<td>{{c.agency.agencyInitials}}</td>
										<td>{{c.price | currency:'$'}}</td>

									</tr>

								</tbody>
								<!--Table body-->
							</table>
							<!--Table-->
							<div class="box box-footer">
								<span class="label-price pull-right">Total : {{qotation.totalAmount | currency:'$' }} </span>
							</div>


							<div class="box-footer clearfix">

								<button (click)="goToStep1()" class="pull-left btn btn-default" id="validateQuote">Edit
									<i class="fa fa-edit"></i>
								</button>
								<button (click)="openModal(saveQuote)" class="pull-left btn btn-default" id="">SAVE
									<i class="fa fa-floppy-o"></i>
								</button>

								<!-- <a href="" class="pull-left btn btn-default" id="">PRINT <i
                                      class="fa fa-print"></i></a> -->
								<button (click)="openModal(placeOrderModal)" class="pull-right btn btn-default">PLACE ORDER
									<i class="fa fa-arrow-circle-right"></i>
								</button>
							</div>

						</div>
					</div>
				</div>
			</section>

		</div>
		<!-- /.row (main row) -->

	</section>




	<!-- Confirm modal form -->

	<ng-template #placeOrderModal let-c="close" let-d="dismiss">

		<div>
			<div class="modal-header text-center">

				<div class="modal-header text-center">

					<div class="col-md-12">
						<!--<i style="color: #fff;" class="fa fa-exclamation-circle fa-4x mb-3" aria-hidden="true"></i>>-->
						<h5>
							<i class="text-grey fa fa-exclamation-triangle"> </i>&nbsp; Please enter username and password to confirm your order !
						</h5>
						<h5 class="text-red">
							<i class="text-grey fa fa-exclamation-circle"></i> &nbsp; Cancellation fees may apply !
						</h5>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<div class="card-body">
					<div class="modal-body">
						<form #captchaProtectedForm="ngForm">
							<div class="input-group mb-3">
								<span class="input-group-addon">
									<i class="fa fa-user prefix grey-text "></i>
								</span>
								<input type="text" id="username" class="form-control" placeholder="Enter your username">
							</div>

							<div class="input-group mb-3">
								<span class="input-group-addon">
									<i class="fa fa-lock prefix grey-text"></i>
								</span>
								<input type="password" id="password" class="form-control" placeholder="Enter your password">

							</div>

							<div class="form-group">
								<div class="row">
									<div class="col-md-12" style="transform:scale(0.91);-webkit-transform:scale(0.91);
								 transform-origin:0 0;
								 -webkit-transform-origin:0 0">
										<re-captcha [(ngModel)]="formModel.captcha" name="captcha" required siteKey="6LfZI0sUAAAAAPm__FTtHg_Xw8VJ1Slq-aFYXhgE" size="200px"
										 #captchaControl="ngModel"></re-captcha>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer d-flex justify-content-center">
				<div class="container">
					<button class="btn btn-block  btn-default" (click)="saveNotOrderedQuotation(0,saveQuote)">
						Your are not yet ready save for later</button>
					<button [disabled]="!captchaProtectedForm.form.valid" class="btn btn-block btn-default" id="confirm" (click)="openModal(saveEquipment)">Confirm </button>
					<button class="btn btn-block  btn-danger" (click)="close()">Cancel</button>

				</div>
			</div>
		</div>
	</ng-template>



	<!-- Modal save Equipement -->
	<ng-template #saveEquipment let-c="close" let-d="dismiss">

		<div>

			<div class="modal-header text-center">
				<h4 class="modal-title w-100 font-weight-bold">Equipment Form</h4>
			</div>

			<div class="modal-body">
				<div class="form-group mb-3">
					<label for="EquipmentName">Name
						<span class="text-red">*</span>
					</label>
					<p *ngIf="alertEquipmentName" class="text-red">Please enter the equipment name</p>
					<input (blur)="onBlurEquipmentName()" type="text" [(ngModel)]="equipement.name" id="EquipmentName" class="form-control" placeholder="Equipment name">
				</div>
				<div class="form-group mb-3">
					<label for="EquipmentModel">Model</label>
					<p *ngIf="alertEquipmentModel" class="text-red">Please enter the equipment model</p>
					<input (blur)="onBlurEquipmentModel()" type="text" [(ngModel)]="equipement.model" id="EquipmentModel" class="form-control"
					 placeholder="Equipment model">
				</div>

				<div class="form-group mb-3">
					<label for="EquipmentBrand">Brand</label>
					<p *ngIf="alertEquipmentBrand" class="text-red">Please enter the equipment brand</p>
					<input (blur)="onBlurEquipmentBrand()" type="text" [(ngModel)]="equipement.brand" id="EquipmentBrand" class="form-control"
					 placeholder="Equipment brand ">
				</div>
			</div>

			<div class="modal-footer d-flex justify-content-center">
				<div class="container">
					<button (click)="redirectToStep3()" class="btn btn-block btn-default">Next</button>
				</div>
			</div>
		</div>
	</ng-template>


	<ng-template #saveQuote let-c="close" let-d="dismiss">

		<div>
			<div class="modal-header text-center">
				<h4 class="modal-title w-100 font-weight-bold">INFORMATION</h4>
			</div>

			<div class="modal-body text-center">

				<i class="fa fa-exclamation-circle fa-4x mb-3" aria-hidden="true"></i>

				<p>This quote can be saved for 60 days ( 2 month). During this period you may update it or place an order</p>


			</div>
			<div class="modal-footer white">
				<button (click)="close()" class="btn btn-danger">Cancel</button>
				<button (click)="saveNotOrderedQuotation(0,successSave)" class="btn btn-default">Next</button>

			</div>
		</div>
	</ng-template>

	<ng-template #successSave let-c="close" let-d="dismiss">

		<div>
			<div class="modal-header text-center">
				<h4 class="modal-title w-100 font-weight-bold">INFORMATION</h4>
			</div>
			<div class="modal-body text-center">
				<i class="fa fa-exclamation-circle fa-4x mb-3" aria-hidden="true"></i>
				<p class="text-center">Your quote has successfully been saved and will remain available until {{today | date:'fullDate'}}
				</p>
			</div>
			<div class="modal-footer white">
				<button (click)="goToHome(successSave)" class="btn btn-default">OK</button>

			</div>
		</div>
	</ng-template>

	<!-- /.content -->
</div>
<!-- /.content-wrapper -->