<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>Get Quote</h1>
	</section>

	<!-- Main content -->
	<section class="content">

		<!-- /.row -->
		<!-- Main row -->
		<div class="row justify-content-center">
			<!-- Left col -->
			<section class="col">

				
				<div class="box box-info">
					
					<div class="box-body">

						<form action="#" method="post">

							<div class="row">
								<div class="form-group col-md-4">
									<label class="title">Approval Type</label>
									<span class="text-red">*</span>
									<span class="text-red tooltipLabel" placement="bottom" ngbTooltip="Select the approval type">
										<i class="fa fa-question-circle text-black " aria-hidden="true"></i>
									</span>

									<select (change)="getApprovalType()" [(ngModel)]="quotation.approvalType" class="form-control " name="approvalType">
										<option [ngValue]="null">Please select one</option>
										<option *ngFor="let a of listApprovalType" [value]="a.id">{{a.name}}</option>
									</select>
									<p *ngIf="alertapproval" class="text-red">Please enter the approval Type</p>
								</div>


								<!--<div class="col-md-4">
									<label class="title">Encryption capabilities</label>
									<span class="text-red">*</span>
									<span  class="text-red tooltipLabel" placement="bottom" ngbTooltip="Select encryption capabilities">
											?</span>
									<select (change)="getEncryption()" [(ngModel)]="quotation.hasEncryptionFeature" name="hasEncryptionFeature" class="form-control ">
										<option [ngValue]="null">Please select one</option>
										<option [ngValue]="false">No</option>
										<option [ngValue]="true">Yes</option>
									</select>
									<p *ngIf="alertencryption" class="text-red">Please enter if the equipement has encryption feature</p>
								</div>-->

								<div class="col-md-1"></div>

								<div class=" col-md-4">

									<div *ngIf="showEquipementNature" class="">

										<label class="title">Equipment Nature </label>
										<span class="text-red">*</span>
										<span class="text-red tooltipLabel" placement="bottom" ngbTooltip="Select the equipment  nature">
											<i class="fa fa-question-circle text-black" aria-hidden="true"></i>
										</span>

										<div id="eqmtNature" class="    z-depth-0">
											<div class="row" id="eqmtNature-item">

												<select (change)="getEquipementNature()" [(ngModel)]="quotation.equipementNature" class="form-control " name="natureId">
													<option [ngValue]="null">Please select one</option>
													<option *ngFor="let e of listEquipmentNature" [value]="e.id">{{e.name}}</option>
												</select>
												<p *ngIf="alertequipmentNature" class="text-red">Please enter the equipement nature</p>
												<!--
												<div *ngFor="let e of listEquipmentNature" class="  col-md-6  col-sm-6">
													<input [(ngModel)]="quotation.equipementNature" name="natureId" (change)='getEquipementNature()' value="{{e.id}}" type="radio"
													 id="{{e.name}}">
													<label for="{{e.name}}">{{e.name}}</label>
												</div>-->
											</div>
										</div>
									</div>
								</div>
							</div>
							<hr>
							<div class="row">

								<div class="form-group col-md-4">
									<label class="title">Encryption capabilities</label>
									<span class="text-red">*</span>
									<span class="text-red tooltipLabel" placement="bottom" ngbTooltip="Select encryption capabilities">
										<i class="fa fa-question-circle text-black" aria-hidden="true"></i>
									</span>
									<select (change)="getEncryption()" [(ngModel)]="quotation.hasEncryptionFeature" name="hasEncryptionFeature" class="form-control ">
										<option [ngValue]="null">Please select one</option>
										<option [ngValue]="false">No</option>
										<option [ngValue]="true">Yes</option>
									</select>
									<p *ngIf="alertencryption" class="text-red">Please enter if the equipement has encryption feature</p>
								</div>

							</div>
							<!--
							<div *ngIf="showEquipementNature" class="">
								<hr>
								<label class="title">Equipment Nature </label>
								<span class="text-red">*</span>
								<span  class="text-red tooltipLabel" placement="bottom" ngbTooltip="Select the equipment  nature">
										?</span>
								<p *ngIf="alertequipmentNature" class="text-red">Please enter the equipement nature</p>
								<div id="eqmtNature" class="    z-depth-0">
									<div class="row" id="eqmtNature-item">
										<div *ngFor="let e of listEquipmentNature" class="  col-md-3  col-sm-4">
											<input [(ngModel)]="quotation.equipementNature" name="natureId"
											 (change)='getEquipementNature()' value="{{e.id}}" type="radio"
											 id="{{e.name}}">
											<label for="{{e.name}}">{{e.name}}</label>
										</div>
									</div></div>
							</div>
						-->

							<div >
								<hr>
								<label class="title">Equipment Type</label>
								<span class="text-red">*</span>
								<span class="text-red tooltipLabel" placement="bottom" ngbTooltip="Select the equipment  type">
									<i class="fa fa-question-circle text-black" aria-hidden="true"></i>
								</span>
								<p *ngIf="alertequipmentType" class="text-red">Please enter the equipment Type</p>
								<div id="" class="    z-depth-0">
									<div class="row" style="overflow: scroll; height: 200px;" id="eqmtType-item">
										<div *ngFor="let et of listEquipementType" class="  col-md-4  col-sm-4">

											<input (change)="getEquipmentType()" [(ngModel)]="quotation.equipementType" name="equipementTypeId" [value]="et.id" type="radio"
											 id="et{{et.name}}">
											<label for="et{{et.name}}">{{et.name}}</label>
										</div>
									</div>
									<!-- equipement category -->

								</div>
							</div>



							<div *ngIf="showFrequency" class="">
								<hr>
								<label class="title">Frequency Band </label>
								<span class="text-red">*</span>
								<span class="text-red tooltipLabel" placement="bottom" ngbTooltip="Select the fraquence Band">
									<i class="fa fa-question-circle text-black " aria-hidden="true"></i>
								</span>
								<p *ngIf="alertFrequency" class="text-red">Please choose at least one frequency band for equipment</p>
								<div id="freqDiv" class="    z-depth-0">
									<div class="row" id="freqDiv-item">
										<div *ngFor="let f of listFrequency" class="  col-md-2  col-sm-3">
											<input (click)="getfrequencyBand(f.id,$event,frequencyRestrictContent)" [(ngModel)]="checkFrequency[f.id]" name="fid{{f.id}}" value="{{f.id}}" type="checkbox"
											 id="freq{{f.id}}">
											<label for="freq{{f.id}}">{{f.minFrequency}}-{{f.maxFrequency}} {{f.unit}}
											</label>
										</div>
									</div>
								</div>
							</div>

							<div *ngIf="showEquipementTech" class="">
								<hr>
								<label class="title">Equipment Technologie</label>
								<span class="text-red">*</span>
								<span class="text-red tooltipLabel" placement="bottom" ngbTooltip="Select the Equipment  technologie">
									<i class="fa fa-question-circle text-black" aria-hidden="true"></i>
								</span>
								<p *ngIf="alertEquipementTechnologie" class="text-red">Please enter the equipment technologie</p>

								<div id="eqmtTech" class="    z-depth-0">
									<div class="row" style="overflow: scroll; height: 200px;" id="eqmtTech-item">
										<div *ngFor="let t of listTechnologie" class="  col-md-3  col-sm-4">
											<input name="tech{{t.id}}" (click)="getEquipemenetTechnology(t.id,$event)" [(ngModel)]="checkTech[t.id]" type="checkbox"
											 id="tech{{t.id}}">
											<label for="tech{{t.id}}">{{t.name}}</label>
										</div>
									</div>
									<!-- equipement tech -->

								</div>

							</div>
							<hr>

							<div class="row mt-2">

								<label class=" col-md-12 title">Countries
									<span class="text-red">*</span>
									<span class="text-red tooltipLabel" placement="bottom" ngbTooltip="Select the country  of approval">
										<i class="fa fa-question-circle text-black " aria-hidden="true"></i>
									</span>

								</label>
								<p *ngIf="alertCountry" class="col-md-12  text-red">Please select a country of approval</p>

							</div>

							<div class="row mt-2" style="overflow: scroll; height:200px;">
								<div *ngFor="let c of listCountries;let i=index" class=" col-md-3 col-sm-4">
									<input name="country{{c.id}}" [disabled]="disabledCountry[c.id]" (change)="hasCountryFrequencyRestriction(c.id,$event,restrictContent)"
									 [(ngModel)]="checkCountry[c.id]" type="checkbox" id="country{{c.id}}">
									<label for="country{{c.id}}">{{c.name}}</label>


								</div>

							</div>
							<hr>
							<div class="row mt-2">
								<label class=" col-md-12 title">Need help (optional)
									<span class="text-red tooltipLabel" placement="bottom" ngbTooltip="Download datasheet">
										<i class="fa fa-question-circle text-black " aria-hidden="true"></i>
									</span>
								</label>
								<label class=" col-md-12">Upload the datasheet, if you need help from our staff</label>
								<p *ngIf="alertfileError" class="col-md-12  text-red">{{fileError}}</p>
								<div class="col-md-12">
									<label>
										<input #datasheet type="file" (change)="selectFile($event)">
									</label>
								</div>


							</div>


							<hr>


							<!--  confirm model -->
							<ng-template #confirmContent let-c="close" let-d="dismiss">

								<div class="">

									<div class="modal-header text-center">
										<h6 class="modal-title w-100 font-weight-bold">information</h6>

									</div>
									<div class="modal-body">

										<div class="card-body">
											<div class="text-center">
												<i class="fa fa-exclamation-circle fa-4x mb-3" aria-hidden="true"></i>

												<p>The datasheet has successfully been uploaded. Click on continue to send the request to our staff.
												</p>
												<!--	<p>You have uploaded datasheets. That means you're not sure about the informations that you have filled in.</p>
												<p>By clicking continue your quote request will be sent to our agents for processing.</p>-->
											</div>
										</div>
									</div>

									<div class="modal-footer d-flex justify-content-center">
										<div class="container">
											<button (click)="saveQuotation(0,successContent)" class="btn btn-block  btn-default">Continue</button>
											<button class="btn btn-block btn-danger" (click)="resetForm()">Cancel</button>
										</div>
									</div>
								</div>
							</ng-template>


							<!--  confirm model -->
							<ng-template #successContent let-c="close" let-d="dismiss">


								<div class="modal-header text-center">
									<h6 class="modal-title w-100 font-weight-bold">INFORMATION</h6>

								</div>
								<div class="modal-body text-center">
									<i class="fa fa-check-circle fa-4x mb-3" aria-hidden="true"></i>
									<p class="text-center">Your quote request has been sent successfully and will be processed.</p>
								</div>
								<div class="modal-footer white">
									<button (click)="goToHome(successContent)" class="btn btn-default pull-left">OK</button>

								</div>

							</ng-template>

							<ng-template #frequencyRestrictContent   let-c="close" let-d="dismiss">

								<div class="modal-header text-center">
									<h6 class="modal-title w-100 font-weight-bold">Information</h6>
								</div>
								<div class="modal-body text-center">
									<i class=" text-grey fa fa-check-circle fa-4x mb-3" aria-hidden="true"></i>
									<div *ngFor="let m of messageString">
										<p>{{m}}</p>
										
									</div>
									<div>
										<p>
											Put a disclaimer here.</p>
									</div>
								</div>
								<div class="modal-footer white">
									<button (click)="close()" class="btn btn-default pull-left">Ok</button>
								</div>

							</ng-template>



							<!--modal of restriction-->
							
							<ng-template #restrictContent   let-c="close" let-d="dismiss">

								<div class="modal-header text-center">
									<h6 class="modal-title w-100 font-weight-bold">Information</h6>
								</div>
								<div class="modal-body text-center">
									<i class=" text-grey fa fa-check-circle fa-4x mb-3" aria-hidden="true"></i>
									<div *ngFor="let m of messageResult">
										<p>{{m.message}}</p>
										<p>
											If you are sure that your equipment respect this requirements  continue, else cancel.</p>
									</div>
								</div>
								<div class="modal-footer white">

									<button (click)="resetCountry()" class="btn btn-danger pull-left">Cancel</button>
									<button (click)="getCountry()" class="btn btn-default pull-left">Continue</button>
								</div>

							</ng-template>

						</form>
					</div>
					<div class="box-footer clearfix">
						<button (click)=" redirectNextStep(confirmContent)" type="button" class="pull-right  btn btn-default">Next step
							<i class="fa fa-arrow-circle-right"></i>
						</button>
					</div>
				</div>




			</section>
			<!-- /.Left col -->
			<!-- right col (We are only adding the ID to make the widgets sortable)-->

			<!-- right col -->
		</div>
		<!-- /.row (main row) -->

	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->